/* akdlsfjj */


.title {
    text-align: center;
    color: black;
    background-color: rgb(243, 102, 67);
}

.title:hover {
    background-color: rgb(214, 115, 91);
    transition: 0.5s;
}

.header p {
    text-align: center;
    color: black;
}

button {
    background-color: rgb(243, 102, 67); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  button:hover {
      background-color: rgb(201, 109, 86);
  }

  .center-part {
      text-align: center;
  }